LLM_API_URL=https://ai.api.cloud.yandex.net/v1
LLM_API_KEY=replace-me
LLM_MODEL=yandexgpt
LLM_ORGANIZATION=b1ghmng15krs44a6li2q
LLM_PROMPT_ID=fvtcdisgqkmtebld6vdh
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://localhost:5173,http://localhost:8081
